html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #f5f5f5;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /*background-color: #f5f5f5;*/
  background-color: rgb(231, 231, 231);
  border-bottom: 0.1rem solid rgb(145, 143, 143);
  z-index: 20;
  .inicio {
    font-size: 5rem;
    a {
      text-decoration: none;
      color: #000;
      span {
        font-weight: bold;
      }
    }
    a:hover {
      color: #000;
    }
  }

  .nav {
    display: flex;
    gap: 3rem;
    padding: 0;
    position: sticky;
    top: 0;
    li {
      padding: 0.5rem;
      border-radius: 1.5rem;
      border: 0.1rem solid rgba(255, 255, 255, 0);
      transition: 0.2s;
      a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #000;
      }
    }
    li:hover {
      border: 0.1rem solid #fff;
      -webkit-box-shadow: 0px 0px 9px 2px rgb(240, 240, 240);
      transform: translateY(-0.3rem);
      transition: 0.2s;
      a {
        color: rgb(71, 71, 71);
      }
    }
    li:active {
      transform: translateY(0.3rem);
    }
  }
}
.sticky {
  position: sticky;
  top: 0;
}

footer {
  .top {
    border-top: 0.1rem solid rgb(182, 179, 179);
    background-color: rgb(231, 231, 231);
    span {
      font-weight: bold;
    }
  }
  .redes-flex {
    width: 20%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .ig,
    .wpp,
    .tw {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      text-align: center;
      border: 0.1rem solid rgba(255, 255, 255, 0);
      transition: 0.5s;
      svg {
        margin-top: 0.9rem;
      }
    }

    .ig:hover,
    .wpp:hover,
    .tw:hover {
      transform: rotate(360deg);
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 9px 2px rgb(240, 240, 240);
      border: 0.1rem solid white;
      transition: 0.5s;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    .redes-flex {
      width: 40%;
    }
  }
}
