.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  padding: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  .uwunt {
    background-image: url(../img/uwunt.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30rem;
    height: 40rem;
    margin: 0 auto;
  }
}
